@model Sistema_COEBB.Models.Noticia

@{
    ViewBag.Title = "Deletar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h2>Deletar</h2>

    <h3>Você tem certeza que deseja deletar isso ?</h3>
    <fieldset>
        <legend>Noticia</legend>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.TITULO_NOTICIA)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.TITULO_NOTICIA)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.CORPO_TEXTO)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.CORPO_TEXTO)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.DATANOTICIA)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.DATANOTICIA)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.TIPO)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.TIPO)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.TAGS)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.TAGS)
        </div>
    </fieldset>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <p>
            <input type="submit" value="Delete" /> |
            @Html.ActionLink("Voltar", "Index")
        </p>
    }
</div>