@model IEnumerable<Sistema_COEBB.Models.Noticia>
@{
    ViewBag.Title = "Galeria";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/css/Album.css" rel="stylesheet" />

<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">O album da Coebb</h1>
        <p class="lead text-muted">Bem-Vindos ao álbum da Coebb onde postaremos novidades e fotos</p>
        <p>
            
        </p>
    </div>
</section>
<div class="album py-5 bg-light">
    <div class="container">

        <div class="row">
            @if (Model.Count() == 0)
            {
                <p>Sem notícias para exibição</p>
            }
            else
            {
                foreach (var item in Model)
                {
                    if(@item.TIPO=="g"||@item.TIPO=="G"||@item.TIPO=="galeria"||@item.TIPO=="Galeria"){
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            @if (item.Fotos.Count == 0)
                            {
                              <img class="card-img-top" alt="Thumbnail [100%x225]" src="~/img/eventos_escolares1.jpg" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
                            }
                            else
                            {
                                <img class="card-img-top" src="@item.Fotos.ToArray()[0].CAMINHO" alt="Thumbnail [100%x225]" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;"/>
                            }
                            
                            <div class="card-body">
                                <p class="card-text">@item.CORPO_TEXTO</p>
                            <div class="d-flex justify-content-between align-items-center">
                               
                           <button type="button" class="btn btn-sm btn-secondary" >@Html.ActionLink("Ver Mais..", "DetalheGaleria",new { id=item.IDNOTICIA })</button>
                           <small class="text-muted">@item.DATANOTICIA</small>
                            </div>
                        </div>
                    </div>
                </div>
                  }
                }
            }
      </div>
    </div>   
  </div>   